.wrapper {
    display: flex;
    user-select: none;
    min-height: 2em;
    flex-direction: column;
}

.contentContainer {
    background-color: #8ebfd1;
    padding: 2px 4px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    flex: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}